*{
    margin: 0;
}
body{
    background-color: white;
}
.same{
    text-decoration: none;
    color: black;
}
.main-1{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    border-radius: 10px;
    border: 5%;
    padding:4%;
    border-color: aliceblue;
    background-color:#27C382;
}
.form{
    margin: 1%;
    border: 4%;
    border-radius: 5px;
    border-color: aliceblue;
    background-color:white;
    padding: 10%;
    text-align: center;
    height: 10%;
    font-size: 18px;
}
.header{
    text-align: center;
    font-weight: 800;
    font-size: 26px;
}
.textarea{
    width: 48%;
    padding: 10px;
    border: solid thin #aaa;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    text-align: center;
}
.button1{
    width: 45%;
    padding: 10px;
    border: solid thin #aaa;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    text-align: center;
    background-color:#AEC327;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.back{
    float: right;
    color: black;
}
.code{
    display: grid;
}
.error{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
    color:crimson;
}
button{
    border: 10px;
    text-align: center;
    width: 100px;
    font-weight: 600;
    background-color:#AEC327;
    height:30px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color:coral;
    color:black;
}